/* body{
    background-color: skyblue;
}

input{
    background-color: darkcyan;
    padding: 20px;
}

button{
    background: lightgreen;
    font-size: 10px;
    padding: 20px;
} */

/* .dark{
    background: black;
    color: aliceblue;
}

.dark button{
    background-color: orange;
    color: black;

}

.dark input{
    background-color: orange;
}

.light{
    background-color: skyblue;
    color:black; 
}

.light button{
    background-color: white;
    color: skyblue;
}

.light input{
    background-color: white;
} */